<%for(var attribute in Blog.Models.Post.attributes){%>
	<%if(attribute == 'id' || attribute == 'comments') continue;%>
	<td class='<%= attribute %>'>
    <% if(attribute == 'user') { %>
      <input type="text" value="<%= this[attribute].fullname %>" name="<%= attribute%>"/>
    <% } else if(attribute == 'content') { %>
      <textarea rows="10" cols="100" name="<%= attribute%>"><%= this[attribute] %></textarea>
    <% } else { %>
      <input type="text" value="<%= this[attribute]%>" name="<%= attribute %>"/>
    <% } %>
  </td>
<%}%>
<td>
	<input type='submit' value='Update' class='update'/>
	<a href='javascript://' class='cancel'>cancel</a>
</td>