<table class="table table-striped">
    <thead>
    <tr>
        <th>{{i18n "application.webservices.app.name"}}</th>
        <th>{{i18n "application.webservices.ws.name"}}</th>
        <th>{{i18n "application.webservices.ws.addr"}}</th>
        <th>{{i18n "application.webservices.ws.port"}}</th>
    </tr>
    </thead>
    <tbody>
    {{#webservices}}
    <tr>
        <td>{{app}}</td>
        <td>{{data.name}}</td>
        <td>{{data.address}}</td>
        <td>{{data.port}}</td>
    </tr>
    {{/webservices}}
    </tbody>
</table>