<div class="navbar navbar-inverse" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div>
            <a class="brand" href="#">{{i18n "application.name"}}</a>
            <ul class="nav">
                <li class="toolbar-item active" tab-key="home"><a href="#">{{i18n "application.home"}}</a></li>
                <li class="toolbar-item hidden" tab-key="console"><a href="#">{{i18n "application.console"}}</a></li>
                <li class="toolbar-item hidden" tab-key="log"><a href="#">{{i18n "application.log"}}</a></li>
                <li class="toolbar-item hidden" tab-key="status"><a href="#">{{i18n "application.status"}}</a></li>
            </ul>
            <div class="pull-right">
                <ul class="nav">
                    <li class="dropdown user-login-dropdown">
                        <a class="dropdown-toggle tomee-user-name" href="#" data-toggle="dropdown">{{i18n "application.sign.in"}}</a>
                        <div class="dropdown-menu login-menu">
                            <form>
                                <input type="text" class="span3 tomee-login" placeholder="{{i18n 'application.log.in'}}">
                                <input type="password" class="span3 tomee-password" placeholder="{{i18n 'application.password'}}">
                                <div class="login-buttons">
                                    <button type="button" class="btn btn-primary pull-right tomee-login-btn">
                                        {{i18n "application.sign.in"}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>        
