<td><a href="edit" class="ux-edit-row">{{title}}</a></td>
<td>{{director}}</td>
<td>{{genre}}</td>
<td>{{rating}}</td>
<td>{{year}}</td>
<td>
    <a href="delete" class="ux-delete-row"><span class="glyphicon glyphicon-trash"></span></a>
</td>