<td><a href="edit" class="ux-edit-row">{{title}}</a></td>
<td>{{director}}</td>
<td>{{genre}}</td>
<td>{{rating}}</td>
<td>{{year}}</td>
<td>
    <span class="glyphicon glyphicon-trash ux-delete-row"></span>
</td>