<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{i18n "movies"}}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{i18n "title"}}</th>
                        <th>{{i18n "director"}}</th>
                        <th>{{i18n "genre"}}</th>
                        <th>{{i18n "rating"}}</th>
                        <th>{{i18n "year"}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button type="button" class="btn btn-primary pull-right ux-add-btn">{{i18n "add.movie"}}</button>
            </div>
        </div>
    </div>
</div>


